.events {
  margin: 0;
  padding: 0;
  list-style: none;
}

.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  //   text-overflow: ellipsis;
  overflow-x: scroll;
}
.has-overflow {
  position: relative;
  border: 2px solid red;
  padding: 4px;
}
.has-overflow2 {
  position: relative;
  border: 2px solid rgb(255, 174, 0);
  padding: 4px;
}
